[Desktop Entry]
Type=Application
Exec=/opt/emcomm-tools/bin/et-conky
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Conky
Comment=Start Conky on login
