# Author  : Gaston Gonzalez
# Date    : 12 August 2026
# Updated : 26 August 2026
# Purpose : User systemd unit file for EmComm Tools that starts mercury
#         : in a custom, user-defined configuration.
#
# Usage: 
#  Check status       : systemctl --user status et-service-mercury-winlink
#  Start service      : systemctl --user start et-service-mercury-winlink
#  Stop service       : systemctl --user stop et-service-mercury-winlink
#  Reload this config : systemctl --user daemon-reload

[Unit]
Description=EmComm Tools Mercury HF service in a custom mode

[Service]
ExecStart=/opt/emcomm-tools/bin/et-mercury custom
Restart=no

[Install]
WantedBy=multi-user.target
