# Author  : Gaston Gonzalez
# Date    : 12 May 2026
# Purpose : User systemd unit file for EmComm Tools Reticulum 300 baud
#         : packet service.
#
# Usage: 
#  Check status       : systemctl --user status et-service-reticulum-300
#  Start service      : systemctl --user start et-service-reticulum-300
#  Stop service       : systemctl --user stop et-service-reticulum-300
#  Reload this config : systemctl --user daemon-reload

[Unit]
Description=EmComm Tools Reticulum 300 baud packet service

[Service]
ExecStart=/opt/emcomm-tools/bin/et-reticulum start 300
Restart=no

[Install]
WantedBy=multi-user.target
