[Unit]
Description=Rig Control Service
#ConditionPathExists=/dev/et-cat
After=multi-user.target

[Service]
ExecStart=/opt/emcomm-tools/sbin/wrapper-rigctld.sh start

[Install]
WantedBy=multi-user.target
