[Unit]
Description=rigctld service
ConditionPathExists=/dev/et-cat
After=multi-user.target

[Service]
ExecStart=/opt/emcomm-tools/sbin/wrapper-rigctld.sh start
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
