# Author   : Gaston Gonzalez
# Date     : 14 June 2026
# Purpose  : udev rules for supported LoRa devices
#
# Supported Devices
# 1. Heltec v4
#
# Preconditions:
# 1. LoRa device connected via USB cable
#
# Postconditions:
# 1. /dev/et-lora created

#KERNEL=="swradio0", \
#   GROUP="dialout", MODE="0660", SYMLINK+="et-sdr"

# Heltec v4
SUBSYSTEM=="usb", ATTRS{idVendor}=="303a", ATTRS{idProduct}=="1001", \
    GROUP="dialout", MODE="0660", SYMLINK+="et-lora"


# Heltec v3
# Uses the CP210x so this will collide with radios already supported by et-radio
SUBSYSTEM=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", \
    GROUP="dialout", MODE="0660", SYMLINK+="et-lora"

