# Author   : Gaston Gonzalez
# Author   : William McKeehan (https://github.com/mckeehan) 
# Date     : 30 September 2024
# Updated  : 4 November 2024
# Purpose  : udev rules for the Icom IC-7100
#
# Preconditions:
# 1. TODO: Document GPS settings for IC-7100 (Mike KC8OWL)
# 2. GPS antenna connected to IC-7100
# 3. IC-7100 connected via USB cable
#
# Postconditions:
# 1. /dev/et-cat created
# 2. /dev/et-gps created
# 3. rigctld is started
# 4. /dev/et-audio created

KERNEL=="ttyUSB[0-9]*", SUBSYSTEM=="tty", ATTRS{serial}=="IC-7100*", \
    ENV{ET_DEVICE}="IC-7100"

# Create consistent device name/path for the CAT serial device
# Unset the incorrect flagging of this being a GPS device.
ENV{ET_DEVICE}=="IC-7100", SUBSYSTEMS=="usb", ATTRS{serial}=="IC-7100*A", \
    ACTION=="add", \
    ENV{SYSTEMD_WANTS}="", \
    ENV{ET_SUBDEVICE}="CAT", GROUP="dialout", MODE="0660", SYMLINK+="et-cat", \
    RUN+="/usr/bin/systemctl start rigctld"

# Create consistent device name/path for the GPS serial device
ENV{ET_DEVICE}=="IC-7100", SUBSYSTEMS=="usb", ATTRS{serial}=="IC-7100*B", \
    ACTION=="add", \
    ENV{ET_SUBDEVICE}="GPS", GROUP="dialout", MODE="0660", SYMLINK+="et-gps", \
    RUN+="/opt/emcomm-tools/sbin/wrapper-gpsd.sh start"

# This rule generically matches the following Icom radios: 
# 1. IC-705
# 2. IC-7100
# 3. IC-7200
SUBSYSTEM=="sound", ATTRS{idVendor}=="08bb", ATTRS{idProduct}=="2901", ENV{ET_DEVICE}=="", \
    ACTION=="add", \
    ATTR{id}="ET_AUDIO", \
    ENV{ET_DEVICE}="Icom generic", ENV{ET_SUBDEVICE}="AUDIO", GROUP="audio", MODE="0660", SYMLINK+="et-audio"
