# Author   : Gaston Gonzalez
# Date     : 13 December 2024
# Purpose  : udev rules for the Icom IC-7300
#
# Preconditions:
# 1. IC-7300 turned on
# 2. IC-7300 connected via USB cable
#
# Postconditions:
# 1. /dev/et-cat created
# 3. /dev/et-audio created
# 3. rigctld is started

# Create consistent device name/path for the CAT serial device
KERNEL=="ttyUSB[0-9]*", SUBSYSTEM=="tty", ATTRS{serial}=="IC-7300*", \
    ENV{ET_DEVICE}="IC-7300"

# Create consistent device name/path for the CAT serial device
# Prevent the gpsd system unit from incorrectly flagging this as a GPS device
ENV{ET_DEVICE}=="IC-7300", SUBSYSTEMS=="usb", ATTRS{idVendor}=="10c4" ATTRS{idProduct}=="ea60", \
    ACTION=="add", \
    ENV{SYSTEMD_WANTS}="", \
    ENV{ET_SUBDEVICE}="CAT", GROUP="dialout", MODE="0660", SYMLINK+="et-cat", \
    RUN+="/usr/bin/systemctl start rigctld"

# This rule generically matches the following Icom radios: 
# 1. IC-705
# 2. IC-7100
# 3. IC-7200
# 4. IC-7300
SUBSYSTEM=="sound", ATTRS{idVendor}=="08bb", ATTRS{idProduct}=="2901", ENV{ET_DEVICE}=="", \
    ACTION=="add", \
    ATTR{id}="ET_AUDIO", \
    ENV{ET_DEVICE}="Icom generic", ENV{ET_SUBDEVICE}="AUDIO", GROUP="audio", MODE="0660", SYMLINK+="et-audio"
