# Author   : Gaston Gonzalez
# Date     : 17 October 2024
# Purpose  : udev rules for the DigiRig Lite
#
# Preconditions:
# 1. DigiRig Lite connected via USB cable
#
# Postconditions:

SUBSYSTEM=="sound", ATTRS{idVendor}=="0d8c", ATTRS{idProduct}=="0012", ENV{ET_DEVICE}=="", \
    ACTION=="add", \
    ATTR{id}="ET_AUDIO", \
    ENV{ET_DEVICE}="DIGIRIG_LITE", ENV{ET_SUBDEVICE}="AUDIO", GROUP="dialout", MODE="0660", SYMLINK+="et-audio"
