# Author   : Gaston Gonzalez
# Date     : 30 September 2024
# Updated  : 2 December 2024
# Purpose  : udev rules for U-blox GPS
#
# Supported Devices
# 1. VK-162 G-Mouse USB GPS - https://amzn.to/3XQqmYj
# 2. VK-172 G-Mouse USB GPS - https://amzn.to/3Ya7Viu
# 3. VFAN UG-353 - https://amzn.to/3XL2lSo 
# 4. Dell 7220
#
# Preconditions:
# 1. GPS connected via USB cable
#
# Postconditions:
# 1. /dev/et-gps created

# Create consistent device name/path for the GPS serial device
SUBSYSTEM=="tty", ATTRS{product}=="u-blox*" ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a7", \
    ACTION=="add", \
    ENV{ET_DEVICE}="UBLOX", ENV{ET_SUBDEVICE}="GPS", \
    GROUP="dialout", MODE="0660", SYMLINK+="et-gps", \
    RUN+="/opt/emcomm-tools/sbin/wrapper-gpsd.sh start"

# Dell 7220
SUBSYSTEM=="tty", ATTRS{product}=="u-blox*" ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a8", \
    ACTION=="add", \
    ENV{ET_DEVICE}="UBLOX", ENV{ET_SUBDEVICE}="GPS", \
    GROUP="dialout", MODE="0660", SYMLINK+="et-gps", \
    RUN+="/opt/emcomm-tools/sbin/wrapper-gpsd.sh start"

